<!DOCTYPE html>
<html lang="en" ng-app="restReminder">
<head>
    <meta charset="UTF-8">
    <title>Rest Reminder</title>
</head>
<body ng-controller="ReminderController as reminder">


    <button ng-click="reminder.startReminder()">Start Reminder</button>

<script src="static/angular.min.js"></script>
<script src="static/desktop-notify-min.js"></script>
<script src="static/angular-web-notification.js"></script>
<script src="static/angular.audio.js"></script>
<script src="static/app.js"></script>
</body>
</html>